/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#tempLabel{
	-fx-text-fill: white;
}

#statusLabel{
	-fx-text-fill: white;
}

#input{
	-fx-text-fill: black;
}

#locationLabel{
	-fx-text-fill: white;
}

#l1{
	-fx-text-fill: white;
}

#l2{
	-fx-text-fill: white;
}

#feelsLikeLabel{
	-fx-text-fill: white;
}

#humLabel{
	-fx-text-fill: white;
}

#rememberCheckBox{
	-fx-text-fill: white;
}

#userGuideLabel{
	-fx-text-fill: white;
}